@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

.border-photo {
    border: 0.5px solid #ffffff;
    border-radius: 50%;
}

h1,h2,h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

p,td,li {
    font-family: 'Catamaran', sans-serif;
    font-weight: 200;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}